.page {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.button {
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.25px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  text-transform: none;
  opacity: 1;
  color: #3c4043;
  padding: 0;
}

.icon-button {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
}

.create-event-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 20px 14px 15px;
  height: 48px;
  margin-left: 25px;
  box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.1), 0px 1px 3px 1px rgba(60, 64, 67, 0.05);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 48px;
}

.create-event-btn__txt {
  padding-left: 15px;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__content {
  background: #fff;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #cccccc45;
  z-index: 10;
}

.popup__content {
  position: absolute;
  background: #fff;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.hidden {
  display: none;
}

.fa-plus {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36'%3E%3Cpath fill='%2334A853' d='M16 16v14h4V20z'%3E%3C/path%3E%3Cpath fill='%234285F4' d='M30 16H20l-4 4h14z'%3E%3C/path%3E%3Cpath fill='%23FBBC05' d='M6 16v4h10l4-4z'%3E%3C/path%3E%3Cpath fill='%23EA4335' d='M20 16V6h-4v14z'%3E%3C/path%3E%3Cpath fill='none' d='M0 0h36v36H0z'%3E%3C/path%3E%3C/svg%3E");
}

.header {
  padding: 8px;
  padding-top: 16px;
  display: flex;
  align-items: center;
}

.navigation {
  margin-left: 43px;
}
.navigation__nav-icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  padding: 0;
}
.navigation__today-btn {
  background-color: transparent;
  border: 1px solid #dadce0;
  width: 85px;
  height: 40px;
  margin-right: 20px;
}
.navigation__displayed-month {
  color: #3c4043;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0;
  margin-left: 20px;
}

.day-label__day-name {
  height: 32px;
  line-height: 32px;
  color: #70757a;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-top: 8px;
}
.day-label__day-number {
  width: 46px;
  height: 46px;
  color: #70757a;
  cursor: pointer;
  font-size: 26px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
  text-align: center;
  line-height: 46px;
  margin-top: -8px;
}

.calendar__header {
  display: flex;
}
.calendar__day-label {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  min-width: 81px;
}
.calendar__time-slot {
  height: 60px;
  border-top: 1px solid #dadce0;
  flex-shrink: 0;
  position: relative;
}
.calendar__day {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  min-width: 81px;
  border-right: 1px solid #dadce0;
}
.calendar__week {
  display: flex;
}
.calendar__body {
  overflow-x: scroll;
  height: 100vh;
}

.modal__content {
  position: relative;
  min-width: 448px;
}

.create-event {
  display: flex;
  flex-direction: column;
}

.create-event__close-btn {
  background: #fff;
  border: none;
  position: absolute;
  right: 3px;
  top: 1px;
  color: #5f6368;
  font-size: 20px;
  height: 44px;
  width: 44px;
  cursor: pointer;
}

.event-form {
  margin-top: 22px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event-form__time {
  line-height: 20px;
  color: #3c4043;
  font-size: 14px;
  padding-left: 8px;
  padding-right: 8px;
  letter-spacing: normal;
}

.event-form__field {
  border: none;
}

input[type=text] {
  font-size: 22px;
  height: 28px;
  margin: 8px 0 0 52px;
}

input:focus,
textarea:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid #1a73e8;
}

textarea::placeholder {
  font-size: 14px;
  font-weight: 500;
}

.event-form__submit-btn {
  background: #1a73e8;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.25px;
  line-height: 36px;
  border: none;
  width: 122px;
  display: block;
  border-radius: 4px;
  margin-left: auto;
}

.event {
  position: absolute;
  width: 80%;
  background: #c6dafc;
  color: #7c899c;
  border-radius: 4px;
  z-index: 2;
  font-size: 12px;
  letter-spacing: 0.1px;
  line-height: 15px;
}
.event__title {
  font-weight: 600;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

/*# sourceMappingURL=styles.css.map */
