// стили формы события внутри модального окна
.modal__content {
    position: relative;
    min-width: 448px;
}
.create-event {
    display: flex;
    flex-direction: column;
    &__close-btn {
        background: #fff;
        border: none;
        position: absolute;
        right: 3px;
        top: 1px;
        color: #5f6368;
        font-size: 20px;
        height: 44px;
        width: 44px;
        cursor: pointer;
    }
}
.event-form {
    margin-top: 22px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__time {
        line-height: 20px;
        color: #3c4043;
        font-size: 14px;
        padding-left: 8px;
        padding-right: 8px;
        letter-spacing: normal;
    }

    &__field {
        border: none;
    }
    &__submit-btn {
        background: #1a73e8;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.25px;
        line-height: 36px;
        border: none;
        width: 122px;
        display: block;
        border-radius: 4px;
        margin-left: auto;
    }
}
input[type="text"] {
    font-size: 22px;
    height: 28px;
    margin: 8px 0 0 52px;
}
input:focus,
textarea:focus {
    border: none;
    outline: none;
    border-bottom: 2px solid #1a73e8;
}
textarea::placeholder {
    font-size: 14px;
    font-weight: 500;
}
